.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: white;
}

.App-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: rgb(125, 250, 171);
}

.App-nav ul {
  list-style: none;
}


.App-footer {
  color: rgb(102, 222, 227);
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
